cryptography==42.0.8
wheel==0.35.1
bumpversion==0.6.0
pip==20.2.2
sphinx==3.2.1
coverage==5.2.1
watchdog==0.10.3
flake8==3.8.3
PyYAML==5.3.1
Flask-Sphinx-Themes==1.0.2
pylint==2.6.0
recommonmark==0.6.0
